.header{
    font-family: 'Dancing Script', cursive;
}

.btn btn-warning{
    font-family: 'Francois One', sans-serif;
}

.desc{

    font-family: Verdana;
}

.nav-link{
    display: inline-block;
    margin: 5px;
}

.navbar-nav{

    margin:auto;
}
