<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel ="stylesheet" th:href="@{/style.css}" type="text/css"/>

    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <title>Batman : The Dark Knight</title>
</head>
<body>

<div class="container">


    <div class="jumbotron">

        <center><h2 class = "header">Batman:The Dark Knight</h2></center><br>

        <img src="https://res.cloudinary.com/dh18h6lff/image/upload/v1550760083/the-dark-knight-wallpapers-29998-4215867.jpg" class="mx-auto d-block" style="width:50%" alt="batman"><br><br><br>

        <center><p class ="desc">When the menace known as the Joker emerges from his mysterious past, he wreaks havoc and chaos on the people of Gotham. The Dark Knight must accept one of the greatest psychological and physical tests of his ability to fight injustice.</p>

            <span class="badge badge-warning">IMDb</span>&nbsp;&nbsp;<span itemprop="ratingValue">9.0/10</span><br><br>

            <span class="badge badge-info">Directed By :</span><p>Christopher Nolan</p>

            <span class="badge badge-info">Writers :</span><p>Jonathan Nolan (screenplay), Christopher Nolan (screenplay)</p>

            <span class="badge badge-info">Stars</span><p> Christian Bale, Heath Ledger, Aaron Eckhart, <a href="https://www.imdb.com/title/tt0468569/fullcredits/?ref_=tt_ov_st_sm"> See full cast & crew »</a></p>


        </center>







    </div>


</div>
</body>
</html>