<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel ="stylesheet" th:href="@{/style.css}" type="text/css"/>

    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <title>The Shawshank Redemption</title>
</head>
<body>

<div class="container">


        <div class="jumbotron">

            <center><h2 class = "header">The Shawshank Redemption</h2></center><br>

<img src="https://res.cloudinary.com/dh18h6lff/image/upload/v1550760083/shawshank_685x420px.jpg" class="mx-auto d-block" style="width:50%" alt="shaw"><br><br><br>

            <center><p class ="desc">Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.</p>

                <span class="badge badge-warning">IMDb</span>&nbsp;&nbsp;<span itemprop="ratingValue">9.3/10</span><br><br>

                <span class="badge badge-info">Directed By :</span><p>Frank Darabont</p>

                <span class="badge badge-info">Writers :</span><p>Stephen King (short story "Rita Hayworth and Shawshank Redemption"), Frank Darabont (screenplay)</p>

                <span class="badge badge-info">Stars</span><p>Tim Robbins, Morgan Freeman, Bob Gunton, <a href="https://www.imdb.com/title/tt0111161/fullcredits/?ref_=tt_ov_st_sm"> See full cast & crew »</a></p>


</center>







        </div>


</div>
</body>
</html>