<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel ="stylesheet" th:href="@{/style.css}" type="text/css"/>

    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <title>Up In The Air</title>
</head>
<body>

<div class="container">


    <div class="jumbotron">

        <center><h2 class = "header">Up In The Air</h2></center><br>

        <img src="https://res.cloudinary.com/dh18h6lff/image/upload/v1550760083/71Atu6iHNSL._SX355_.jpg" class="mx-auto d-block" style="width:50%" alt="up"><br><br><br>

        <center><p class ="desc">Ryan Bingham enjoys living out of a suitcase for his job, travelling around the country firing people, but finds that lifestyle threatened by the presence of a potential love interest, and a new hire.</p>

            <span class="badge badge-warning">IMDb</span>&nbsp;&nbsp;<span itemprop="ratingValue">7.4/10</span><br><br>

            <span class="badge badge-info">Directed By :</span><p>Jason Reitman</p>

            <span class="badge badge-info">Writers :</span><p> Walter Kirn (novel), Jason Reitman (screenplay)</p>

            <span class="badge badge-info">Stars</span><p> George Clooney, Vera Farmiga, Anna Kendrick, <a href="https://www.imdb.com/title/tt1193138/fullcredits/?ref_=tt_ov_st_sm"> See full cast & crew »</a></p>


        </center>







    </div>


</div>
</body>
</html>